In [2]:
import requests 
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup

In [3]:
from selenium.webdriver.chrome.options import Options  
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import TimeoutException                          
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC

In [12]:
driver = webdriver.Chrome(
r"C:\Users\pedro\Documents\PUCRIO\Verão\Estatística\Aulas de Data Science\Entregas data science\entrega 3\chromedriver_win32 (2)\chromedriver.exe"
)

In [13]:
driver.get('https://www.leagueofgraphs.com/pt/tft/summoners')

In [74]:
soup = BeautifulSoup(driver.page_source, 'html.parser')
table = soup.table
table_body = table.find('tbody')

rows = table_body.find_all('tr')
data = []

for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip().replace('\n', '') for ele in cols]
    data.append([ele for ele in cols if ele])

In [75]:
data
df = pd.DataFrame(data)
df = df.set_axis(['Rank', 'Nome de usuário', 'Divisão', 'Vitórias', 'Torneios_Jogados'], axis =1 )
df = df.drop(0)

In [76]:
df['Pontos da liga'] = df.Divisão.str.extract('(\d+)')
df['Vitórias'] = df.Vitórias.str.extract('(\d+)')
df['Torneios_Jogados'] = df.Torneios_Jogados.str.extract('(\d+)')

In [77]:
df

,Rank,Nome de usuário,Divisão,Vitórias,Torneios_Jogados,Pontos da liga
1,1.,uL ArgoKR(#1),DesafiantePontos na Liga: 600,6,38,600
2,2.,tikpenJP(#2),DesafiantePontos na Liga: 561,10,40,561
3,3.,PhoenixaaNA(#3),DesafiantePontos na Liga: 559,12,49,559
4,4.,LoescherEUW(#4),DesafiantePontos na Liga: 535,11,32,535
5,5.,TsmmaaNA(#5),DesafiantePontos na Liga: 535,6,48,535
...,...,...,...,...,...,...
97,96.,Rank 1 EUNE TFTEUNE(#96),GrandMasterPontos na Liga: 251,10,34,251
98,97.,DV1 TSW5EUW(#97),GrandMasterPontos na Liga: 248,9,32,248
99,98.,dosaidon0JP(#98),GrandMasterPontos na Liga: 247,5,29,247
100,99.,profesorkubaEUNE(#99),GrandMasterPontos na Liga: 246,7,29,246
101,100.,FurriyaEUW(#100),GrandMasterPontos na Liga: 243,8,35,243

In [78]:
df.to_csv('base.csv')